<ul class="nav justify-content custom-nav-style">
    <li class="nav-item">
        <a class="nav-link lead" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link lead" href="#">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link lead" href="#">Experience</a>
    </li>
    <li class="nav-item">
        <a class="nav-link lead" href="#">Works</a>
    </li>
    <li class="nav-item">
        <a class="nav-link lead" href="#">Skill</a>
    </li>
    <li class="nav-item">
        <a class="nav-link lead" href="#">Contact</a>
    </li>
</ul>